* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lexend Deca', sans-serif;
}

.landing-wrapper {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
}

.menu {
	width: 100%;
	height: 100%;
	flex: 0.25;
}

.information {
	width: 100%;
	height: 100%;
	flex: 0.6;
	display: flex;
	flex-direction: column;
}

.information .title {
	flex: 0.8;
	margin-top: 10%;

}

.information .title div:first-child {
	font-size: -moz-calc(5vw + 1rem);
	font-size: -webkit-calc(5vw + 1rem);
	font-size: -o-calc(5vw + 1rem);
	font-size: calc(5vw + 1rem)
}

.information .title div:last-child {
	font-size: -moz-calc(1.4vw + 1rem);
	font-size: -webkit-calc(1.4vw + 1rem);
	font-size: -o-calc(1.4vw + 1rem);
	font-size: calc(1.4vw + 1rem);
	display: flex;
	justify-content: space-between;
	width: 70%;

}

.information .title div:last-child a {
	text-decoration: none;
	color: rgb(8, 145, 187);
}

.information .description {
	flex: 0.5;
	font-size: 1.1vw;
	color: rgb(100, 100, 100);
}

.information .img-information {
	flex: 1.5;
	display: flex;
	flex-direction: row;
}

.information .img-information div:first-child {
	height: 100%;
	width: 100%;
	padding: 5% 0 5% 5%;
}

.information .img-information div:first-child div {
	background-color: rgb(124, 124, 124);
	width: 100%;
	height: 100%;
}

.information .img-information div:last-child {

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	padding: 5% 5% 5% 0;
}

.information .img-information div:last-child img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.selectors {
	flex: 0.2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.landing-img {
	width: 100%;
	height: 100%;
	flex: 1;
}

.landing-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}