* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

.landing-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}



.menu {
  width: 100%;
  height: 100%;
  margin-right: 5%;
  margin-top: 2%;
  flex: 0.07;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.hr-container {
  margin-top: 20px;
}

.hr-menu {
  width: 2px;
  height: 17vh;
  color: black;
}

.menu-text-container {
  margin-top: 6vh;

}

.menu-text {
  font-size: 13px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.information {
  width: 100%;
  height: 100%;
  flex: 0.15;
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}

.menu-org {
  background-color: #f3773d;
  background-color: #f3664d;

  border-radius: 50% 50%;
  width: 60%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-bars {
  color: #fff;
  font-size: 1.5vw;
}

.information .title {
  flex: 0.7;
  margin-top: 13%;
}

.title-nav {
  display: flex;
  flex-direction: row;
}

.title-link {
  cursor: pointer;
}

.title-link:first-child {
  flex: 1;
}

.title-link:last-child {
  flex: 1;
}

.title {
  font-size: -moz-calc(4vw + 1rem);
  font-size: -webkit-calc(4vw + 1rem);
  font-size: -o-calc(4vw + 1rem);
  font-size: calc(4vw + 1rem);
  font-weight: 900;
}

.title-link a {
  font-size: -moz-calc(1.1vw + 1rem);
  font-size: -webkit-calc(1.1vw + 1rem);
  font-size: -o-calc(1.1vw + 1rem);
  font-size: calc(1.1vw + 1rem);
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: -5%;
  height: auto;
  font-weight: 400;
  position: relative;
}

.title-link-h a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;

  background-color: #000;
  transition: transform 0.3s;
  margin: auto;
  width: 8.5vw;
  transition: width 0.3s ease;
}

/* color: rgb(255, 123, 0); */
.information .title div:last-child a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
}

.information .title div:last-child a:hover {
  color: #f3664d;
}

.information .title div:last-child .selected {
  color: #f3664d;
}

.information .description {
  flex: 0.5;
  font-size: 0.9vw;
  color: rgb(100, 100, 100);
  line-height: 1.8;
}

.information .img-information {
  flex: 1.2;
  display: flex;
  flex-direction: row;
}

.img-information {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


.img-information-links {
  background-color: rgb(31, 32, 36);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 0.9vw;
  font-weight: 100;
}

.img-info-link {
  margin-top: 7%;
}

.img-info-link a {
  font-family: "Roboto", sans-serif !important;
}

.img-info-link a {
  color: #fff;
  text-decoration: none;
}

.img-info-link a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.img-info-link a:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 1px;

  background-color: #ffffff;
  transform: translateX(-50%) !important;
  transition: transform 0.3s;
  margin: auto;
  width: 0;
  transition: width 0.3s ease;
}

.img-info-link:hover a:after {
  width: 130%;
}

.imgs-information-imgs {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.img-menu-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.menu-slider1 {
  background: url("./img/summer1.jpg") no-repeat center/cover;
  z-index: 2;
}

.menu-slider2 {
  background: url("./img/winter1.jpg") no-repeat center/cover;
  z-index: 1;
}

.imgs-information-imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-information div {}

.selectors {
  flex: 0.2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 8%;
}

.fa-arrow-left,
.fa-arrow-right {
  color: rgb(49, 49, 49);
}

.fa-dot-circle {
  color: #f35b4d;
}

.landing-img {
  width: 100%;
  height: 100%;
  flex: 0.55;
  position: relative;
  z-index: 1;
}

.landing-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.landing-slider1 {
  background: url("./img/autum2.jpg") no-repeat center/cover;
  z-index: 2;
}

.landing-slider2 {
  background: url("./img/winter2.jpg") no-repeat center/cover;
  z-index: 0;
}

.right-menu {
  flex: 0.06;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.icon-container {
  width: 100%;
  flex: 1;
  font-size: 0.95vw;
  color: rgb(172, 172, 172);
  border-bottom: 2px solid rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.icon-container:hover {
  color: rgb(100, 100, 100);
  transform: scale(1.3);
}

.last-icon {
  width: 100%;
  flex: 1;
  color: #FFF;
  background-color: #f3664d;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 0.7vw;
  letter-spacing: 2px;

}

.fa-arrow-left,
.fa-arrow-right {
  cursor: pointer;
}